<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="/css/input.css" rel="stylesheet">
  <title>Фильтрация участников программы лояльности</title>
</head>
<body>
<div th:insert="${header}"></div>
<div class="form-style-5">
  <form th:action="${'/loyalty/filter/result'}" method="post" type="submit">
    <fieldset >
      <input type="text" name="phone" placeholder="Номер телефона *">
      <input type="submit" value="Поиск" />
    </fieldset>
    <div th:each="el : ${result}">
      <legend><span class="number"></span></legend>
      <fieldset >
        <p th:text="${el.getClient().getSurname()}+' '+${el.getClient().getName()}+' '+${el.getClient().getMiddlename()}"  name="name" >
        <p th:text="${el.getClient().getPhone()}"  name="phone" >
        <p th:text="${el.getStatus().getName()}"  name="name" >
        <p th:text="${el.getSum()}"  name="sum" >
        <p th:text="${el.getStatus().getDiscount()}"  name="discount" >
      </fieldset>
    </div>
  </form>
</div>
</body>
</html>