<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/input.css" rel="stylesheet">
    <title>Все ставки</title>
</head>
<body>
<div th:insert="${header}"></div>
<div class="form-style-5">
    <legend><span class="number"></span>Все ставки</legend>
    <ul>
        <form action="/combination/filter" method="get">
            <input type="submit" value="Фильтрация" />
        </form>
        <form action="/combination/add" method="get">
            <input type="submit" value="Добавить" />
        </form>
    </ul>
    <table>
        <div th:each="el : ${combinations}">
            <legend><span class="number"></span></legend>
            <fieldset >
                <p th:text="${el.getEmployee().getId()}+' '+${el.getEmployee().getSurname()}+' '+${el.getEmployee().getName()}+' '+${el.getEmployee().getMiddlename()}"  name="name" >
                <p th:text="${el.getPost().getName()}+' с окладом '+${el.getPost().getSalary()}"  name="sum" >
                <p th:text="${el.getPart()}"  name="part" >
                <form th:action="'/combination/' + ${el.getId()} + '/edit'" method="get">
                    <input type="submit" value="Редактировать" />
                </form>
                <form th:action="'/combination/' + ${el.getId()} + '/remove'" method="post">
                    <input type="submit" value="Удалить" />
                </form>
            </fieldset>
        </div>
    </table>
</div>
</body>
</html>



