<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/input.css" rel="stylesheet">
    <title>Добавление должности</title>
</head>
<body>
<div th:insert="${header}"></div>
<div class="form-style-5">
    <form th:action="${'/post/add'}" th:object="${post}" method="post">
        <fieldset >
            <legend><span class="number"></span>Добавление должности</legend>
            <input th:field="*{name}" type="text" name="name" placeholder="Наименование должности *">
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input th:field="*{salary}" type ="number" min="0" max="10000000"  step="0.01" name="salary" placeholder="Оклад *" >
            <div style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>
        </fieldset>
        <input type="submit" value="Добавить" />
    </form>
</div></body>
</html>