<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="/css/input.css" rel="stylesheet">
  <title>Все пользователи</title>
</head>
<body>
<div th:insert="${header}"></div>
<div class="form-style-5">
  <legend><span class="number"></span>Все пользователи</legend>
  <ul>
    <form action="/employee/add" method="get">
      <input type="submit" value="Добавить" />
    </form>
  </ul>
  <table>
    <div th:each="el : ${users}">
      <legend><span class="number"></span></legend>
      <fieldset >
        <p th:text="${el.getUsername()}"  name="username" >
        <p th:text="${el.getPassword()}"  name="password" >
        <form th:action="'/user/' + ${el.getId()} + '/edit'" method="get">
          <input type="submit" value="Редактировать" />
        </form>
        <form th:action="'/user/' + ${el.getId()} + '/remove'" method="post">
          <input type="submit" value="Удалить" />
        </form>
      </fieldset>
    </div>
  </table>
</div>
</body>
</html>