<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="/css/input.css" rel="stylesheet">
  <title>Фильтрация сотрудников</title>
</head>
<body>
<div th:insert="${header}"></div>
<div class="form-style-5">
  <form th:action="${'/employee/filter/result'}" method="post" type="submit">
    <fieldset >
      <input type="text" name="surname" placeholder="ИНН сотрудника *">
      <input type="submit" value="Поиск" />
    </fieldset>
    <div th:each="el : ${result}">
      <legend><span class="number"></span></legend>
      <fieldset >
        <p th:text="${el.getSurname()}+' '+${el.getName()}+' '+${el.getMiddlename()}"  name="surname" >
        <p th:text="${el.getBirth()}"  name="birth" >
        <p th:text="${el.getSeries()}+' '+ ${el.getNumber()}"  name="seiesnumber" >
        <p th:text="${el.getInn()}"  name="inn" >
        <p th:text="${el.getSnils()}"  name="snils" >
      </fieldset>
    </div>
  </form>
</div>
</body>
</html>