<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="/css/input.css" rel="stylesheet">
  <title>Изменение данных сотрудника</title>
</head>
<body>
<div th:insert="${header}"></div>
<div class="form-style-5">
  <form th:action="@{/employee/{id}/edit(id=${employee.id})}" th:object="${employee}" method="post">
    <fieldset >
      <legend><span class="number"></span>Изменение данных сотрудника</legend>
      <input th:field="*{surname}" th:value="${employee.getSurname()}" type="text" name="surname" placeholder="Фамиилия *">
      <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
      <input th:field="*{name}" th:value="${employee.getName()}" type="text"  name="name" placeholder="Имя *" >
      <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      <input th:field="*{middlename}" th:value="${employee.getMiddlename()}" type="text"  name="middlename" placeholder="Отчество " >
      <div style="color: red" th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}"></div>
      <input th:field="*{birth}" th:value="${employee.getBirth()}" type="date"  name="birth" placeholder="Дата рождения * " >
      <div style="color: red" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}"></div>
      <input th:field="*{series}" th:value="${employee.getSeries()}" type="text" name="series" placeholder="Серия паспорта *">
      <div style="color: red" th:if="${#fields.hasErrors('series')}" th:errors="*{series}"></div>
      <input th:field="*{number}" th:value="${employee.getNumber()}" type="text"  name="number" placeholder="Номер паспорта *" >
      <div style="color: red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>
      <input th:field="*{inn}" th:value="${employee.getInn()}" type="text" name="inn" placeholder="ИНН *">
      <div style="color: red" th:if="${#fields.hasErrors('inn')}" th:errors="*{inn}"></div>
      <input th:field="*{snils}" th:value="${employee.getSnils()}" type="text"  name="snils" placeholder="СНИЛС *" >
      <div style="color: red" th:if="${#fields.hasErrors('snils')}" th:errors="*{snils}"></div>
    </fieldset>
    <input type="submit" value="Изменить" />
  </form>
</div></body>
</html>