<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/menu.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<details>
    <summary></summary>
    <nav class="menu">
        <a href="/employee">Сотрудник</a>
        <a href="/client">Клиент</a>
        <a href="/status">Статус</a>
        <a href="/loyalty">Программа лояльности</a>
        <a href="/point">Пункты</a>
        <a href="/price">Прайс</a>
        <a href="/bill">Накладная</a>
        <a href="/order/add">Состав накладной</a>
        <a href="/post">Должности</a>
        <a href="/combination">Ставки</a>
        <a href="/user">Пользователи</a>
        <a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-outline-light me-2" value="Выйти из системы"/>
            </form>
        </a>

    </nav>
</details>
</body>
</html>