<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/input.css" rel="stylesheet">
    <title>Добавление статуса</title>
</head>
<body>
<div th:insert="${header}"></div>
<div class="form-style-5">
    <form th:action="${'/status/add'}" th:object="${status}" method="post">
        <fieldset >
            <legend><span class="number"></span>Добавление должности</legend>
            <input th:field="*{name}" type="text" name="name" placeholder="Наименование статуса *">
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input th:field="*{sum}" type="number" min="0" name="sum" placeholder="Сумма *" >
            <div style="color: red" th:if="${#fields.hasErrors('sum')}" th:errors="*{sum}"></div>
            <input th:field="*{discount}" type="number" min="0" name="discount" placeholder="Скидка *" >
            <div style="color: red" th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"></div>
        </fieldset>
        <input type="submit" value="Добавить" />
    </form>
</div></body>
</html>