<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/input.css" rel="stylesheet">
    <title>Все статусы</title>
</head>
<body>
<div th:insert="${header}"></div>
<div class="form-style-5">
    <legend><span class="number"></span>Все статусы</legend>
    <ul>
        <form action="/status/filter" method="get">
            <input type="submit" value="Фильтрация" />
        </form>
        <form action="/status/add" method="get">
            <input type="submit" value="Добавить" />
        </form>
    </ul>
    <table>
        <div th:each="el : ${statuses}">
            <legend><span class="number"></span></legend>
            <fieldset >
                <p th:text="${el.getName()}"  name="name" >
                <p th:text="${el.getSum()}"  name="sum" >
                <p th:text="${el.getDiscount()}"  name="discount" >
                <form th:action="'/status/' + ${el.getId()} + '/edit'" method="get">
                    <input type="submit" value="Редактировать" />
                </form>
                <form th:action="'/status/' + ${el.getId()} + '/remove'" method="post">
                    <input type="submit" value="Удалить" />
                </form>
            </fieldset>
        </div>
    </table>
</div>
</body>
</html>



